.container {
	display: none;
	position: absolute;
	padding: .3vw;
	cursor: pointer;
	transition: var(--transition);

	&:active {
		transform: scale(0.9);
	}
}

.icon {
	fill: var(--color-primary-1);
	transition: var(--transition);

	&:hover {
		fill: var(--color-primary-3)
	}
}

