.container {
	height: fit-content;
	display: flex;
	padding: var(--clock-digit-padding);
	font-family: 'Major Mono Display', monospace;


	p {
		font-size: var(--font-size-title);
		display: flex;
		height: fit-content;
		transition: var(--transition);
		color: var(--color);
	}
}