:root {
	--background-color: #1b1919;
	--background-color-lighter: #312e2e;
	--color: #c1c1c1;
}

.container {
	display: flex;
	align-items: flex-start;
	height: 100%;
}

.aside {
	position: relative;
	width: fit-content;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 1vw;
}

.main {
	position: relative;
	width: fit-content;
	height: 100%;
	flex: 1;
	padding: 1vw;
}