.container {
	color: #c1c1c1;
	width: 100%;
}

.tasks {
	padding: 1rem 0;
}

.maximized {
	@extend .container;
	--font-size-title: 15vw;
	--tasks-button-offset-top: .3rem;
	--tasks-button-offset-right: .3rem;
	--tasks-button-size: 1.5vw;
}

.minimized {
	@extend .container;
	--font-size-title: 1.5vw;
	--tasks-button-offset-top: -.3vw;
	--tasks-button-offset-right: calc(100% - 7.3vw);
	--tasks-button-size: 1rem;
}
