.button {
	display: flex;
	flex-flow: row;
	cursor: pointer;
	align-items: center;
}

.vertical {
	flex-flow: column;

}

.container {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;


}

.vertical-container {
	width: 4vw;
	.separator::after {
		content: '-' !important;
	}
}

.maximized {
	@extend .container;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: var(--background-color);
	--font-size-title: 15vw;
	--clock-digit-padding: 0 1rem;
	--clock-item-margin: 0 1rem;
	--clock-item-distance: 1rem;
	--clock-separator-display: none;
	--clock-button-offset-top: .3rem;
	--clock-button-offset-right: .3rem;
	--clock-button-size: 1.5vw;
}

.minimized {
	@extend .container;
	z-index: 1;
	--font-size-title: 1.5vw;
	--clock-digit-padding: 0;
	--clock-item-margin: 0 .3rem;
	--clock-item-distance: .3rem;
	--clock-separator-display: flex;
	--clock-button-offset-top: -0.3vw;
	--clock-button-offset-right: -1.3vw;
	--clock-button-size: 1rem;

	.separator::after {
		color: #c1c1c1;
		font-size: calc(1.5vw / 1.5);
		height: 100%;
		font-family: 'Major Mono Display', monospace;
		content: ':';
	}
}

.separator {
	display: var(--clock-separator-display);


}