.button {
	display: flex;
	flex-flow: row;
	cursor: pointer;
}

.vertical {
	flex-flow: column;

}

.separator {
	display: var(--clock-separator-display);

	&::after {
		color: var(--clock-color);
		height: calc(var(--clock-digit-size) / 2);
		font-family: 'Major Mono Display',
			monospace;
		;
		content: ':';
	}
}

.container {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	transition: var(--transition);

	&:hover [id=scale-button] {
		display: block;
	}
}

.vertical-container {
	width: 6rem !important;
	height: 11rem !important;
}

.maximized {
	@extend .container;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: #1b1919;
	--clock-digit-size: 15vw;
	--clock-digit-padding: 0 1rem;
	--clock-item-margin: 0 1rem;
	--clock-item-distance: 1rem;
	--clock-separator-display: none;
	--clock-button-offset: .3rem;
	--clock-button-size: 1.5vw;
}

.minimized {
	@extend .container;
	width: 14rem;
	height: 7rem;
	z-index: 1;
	--clock-digit-size: 2rem;
	--clock-digit-padding: 0;
	--clock-item-margin: 0 .3rem;
	--clock-item-distance: .3rem;
	--clock-separator-display: flex;
	--clock-button-offset: .3rem;
	--clock-button-size: 1rem;
}